/*.home-container {*/
/*  text-align: center;*/
/*  color: white;*/
/*  background: url('/assets/50944819893_4a017e4f8e_o.jpg') no-repeat center center fixed;*/
/*  background-size: cover;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.app-container {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative; /* або fixed/absolute, залежно від вашого макету */
  z-index: 1;
}

.navbar {
  position: relative; /* або fixed/absolute, залежно від вашого макету */
  z-index: 1000;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
  display: block;
}

.navbar ul li a.active,
.navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 48px;
  margin: 0;
}

.content h2 {
  font-size: 36px;
  margin: 10px 0 0;
}
