<div class="home-container">
  <nav class="navbar">
    <ul>
      <li><a routerLink="/" class="active">Home</a></li>
      <li><a routerLink="/">Get Involved</a></li>
      <li><a routerLink="/">Our Work</a></li>
      <li><a routerLink="/">About</a></li>
      <li><a routerLink="/">Contact</a></li>
      <li><a routerLink="/">Portfolio</a></li>
      <li><a routerLink="/">Professional</a></li>
    </ul>
  </nav>
  <div class="content">
    <h1>VASIL-YAKIV KAPUSTINSKY'S</h1>
    <h2>CHARITY FUNDATION</h2>
  </div>
</div>

