.home-header {
  margin: 4em 8em 4em 5em;
  text-align: left;
  font-size: 2em;
  color: #EED1D1;
}

.home-content {
  padding: 2em;
  max-width: 9000px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);;
  margin-bottom: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  color: #BEC7D5;
  font-family: 'Inter Variable', serif;
  font-size: 2em;
}

.home-content img {
 max-height: 1000px;
  max-width: 1000px;
}
