<div class="home">
  <div class="home-header">
    <h1>VASIL-YAKIV KAPUSTINSKY'S</h1>
    <h2>CHARITY FOUNDATION</h2>
</div>
  <h3>Welcome to the official page of the Vasyl-Yakiv Kapustynskyi Charity Foundation, established in honor of an exceptional individual whose life was dedicated to service, creativity, and community betterment. Vasyl-Yakiv, also known by his callsigns "Friend 'Yakiv'" and "Marmus," was a distinguished Ukrainian public activist, actor, and military serviceman in the 95th Separate Air Assault Brigade of the Armed Forces of Ukraine. His unwavering commitment to his nation and community has left an indelible mark on all who knew him.</h3>

  <div class="content">
 <app-documents></app-documents>
  </div>
</div>
