@import "@fontsource-variable/inter/slnt.css";
body {
  margin: auto;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter Variable', sans-serif;
}
